@using ObjectManagementSystemFrontend.Models;
@using ObjectManagementSystemFrontend.Services;
@inject StateManagerService StateManagerService;

<div>
    <RadzenPanel AllowCollapse="true" Class="rz-my-1 rz-mx-auto" Style="width: 700px;">
        <HeaderTemplate>
            <RadzenText TextStyle="TextStyle.H6" Class="rz-display-flex rz-align-items-center rz-m-2">
                Search objects
            </RadzenText>
        </HeaderTemplate>
        <ChildContent>
            <RadzenButton ButtonStyle="ButtonStyle.Success" Shade="Shade.Lighter" Size="ButtonSize.Small" Icon="add_circle_outline" class="mt-2 mb-2" Text="Add New" Click="@InsertRow" Disabled=@(generalObjectToInsert != null || generalObjectToUpdate != null) />
            <RadzenDataGrid @ref="dataGrid" AllowAlternatingRows="false" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true" EditMode="DataGridEditMode.Single"
                            Data="@StateManagerService.GeneralObjects" TItem="GeneralObject" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" RowSelect="@OnSelectRow" Sort="@Reset" Page="@Reset" Filter="@Reset" ColumnWidth="260px"
                            SelectionMode="DataGridSelectionMode.Single" EmptyText=@NoRecordsText()>
                <Columns>
                    <RadzenDataGridColumn TItem="GeneralObject" Property="Name" Title="Name" Width="100px">
                        <EditTemplate Context="generalObject">
                            <RadzenTextBox @bind-Value="generalObject.Name" Style="width:100%; display: block" Name="Name" />
                            <RadzenRequiredValidator Text="Name is required" Component="Name" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="GeneralObject" Property="Type" Title="Type" Width="100px">
                        <EditTemplate Context="generalObject">
                            <RadzenAutoComplete @bind-Value=@generalObject.Type Data="@GetAllObjectTypes()" Style="width:100%; display: block" Name="Type" />
                            <RadzenRequiredValidator Text="Type is required" Component="Type" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="GeneralObject" Property="Description" Title="Description" Width="320px">
                        <EditTemplate Context="generalObject">
                            <RadzenTextBox @bind-Value="generalObject.Description" Style="width:100%; display: block" Name="Description" />
                            <RadzenRequiredValidator Text="Description is required" Component="Description" />
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="GeneralObject" Title="Options" Context="generalObject" Filterable="false" Sortable="false" Width="100px">
                        <Template Context="generalObject">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.ExtraSmall" Click="@(args => EditRow(generalObject))" @onclick:stopPropagation="true">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.ExtraSmall" class="my-1 ms-1" Click="@(args => DeleteRow(generalObject))" @onclick:stopPropagation="true">
                            </RadzenButton>
                        </Template>
                        <EditTemplate Context="generalObject">
                            <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.ExtraSmall" Click="@((args) => SaveRow(generalObject))">
                            </RadzenButton>
                            <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.ExtraSmall" class="my-1 ms-1" Click="@((args) => CancelEdit(generalObject))">
                            </RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.ExtraSmall" class="my-1 ms-1" Click="@(args => DeleteRow(generalObject))">
                            </RadzenButton>
                        </EditTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </ChildContent>
    </RadzenPanel>
</div>